.section-add-dish,
.section-edit-dish {
  padding: 15px 20px 20px;
}

.form-dish {
  &__box-image {
    margin: 30px auto;
    background-image: url("../images/add-edit-dish.jpg");
    background-size: cover;
    @include handleSize(100%, 240px);
  }

  &__title {
    margin: 30px 0;
    padding: 10px 0;
    text-align: center;
    font-size: 2rem;
    background-color: #fff2c0;
    text-transform: uppercase;
    color: $powderBrown;
  }

  &__label {
    font-size: 1.5rem;
    text-transform: uppercase;

    &--ingredient {
      flex-basis: 100%;
    }
  }

  &__input {
    margin-top: 8px;
    padding-left: 10px;
    border: 1px solid $darkGray;
    height: 35px;

    &--name,
    &--calories {
      flex-basis: 100%;
    }

    &--ingredient {
      flex-basis: 70%;
    }
  }

  &__btn-add-ingredient {
    @include mainYellowButton();
    margin-top: 8px;
    flex-basis: 25%;
    height: 35px;
    border-radius: 0;

    &:disabled {
      @include disabledButton();
    }
  }

  &__ingredients-list {
    margin: 20px 0 0;
    padding: 0;
    @include flexWrap();
    list-style: none;
  }

  &__ingredient {
    margin: 0 10px 8px 0;
  }

  &__btn-delete-ingredient {
    margin-left: 6px;
    border: 2px solid #f5e8b8;
    width: 30px;
    font-weight: 600;
    background-color: #fff2c0;
    color: $powderBrown;
  }

  &__categories {
    border: 1px solid $darkGray;
    padding-left: 4px;
    flex-basis: 45%;
    height: 35px;
    background-color: #fff;
    font-size: 1.5rem;
  }

  &__box {
    margin: 20px 0;
    @include flexWrap();
  }

  &__categories-box {
    @include flexBetweenCenter();
  }

  &__ingredients-box {
    @include flexBetweenCenter();
    flex-wrap: wrap;
  }

  &__submit {
    @include mainYellowButton();
    margin: 30px auto 0;
    padding: 8px 18px;
    display: block;

    &:disabled {
      @include disabledButton();
    }
  }
}

@media(min-width: 360px) {

  .form-dish {
    &__structure-box {
      margin: 0 auto;
      width: 90%;
    }

    &__box-image {
      background-position-y: 90%;
    }

    &__label {
      font-size: 1.6rem;
    }
  }
}

@media(min-width:480px) {

  .form-dish {
    &__structure-box {
      width: 75%;
    }

    &__categories {
      flex-basis: 52%;
      font-size: 1.6rem;
    }

    &__box-image {
      width: 80%;
    }

    &__btn-add-ingredient {
      flex-basis: 28%;
    }
  }
}

@media(min-width: 1024px) {
  .form-dish {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__box-image {
      margin: 0;
      flex-basis: 40%;
      height: 370px;
      background-position-x: 45%;
    }

    &__structure-box {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 42%;
    }

    &__title {
      margin: 0 0 30px;
      font-size: 2.8rem;
    }

    &__label,
    &__input,
    &__categories,
    &__submit,
    &__ingredient {
      font-size: 2rem;
    }

    &__input,
    &__categories,
    &__btn-add-ingredient {
      height: 46px;
      cursor: pointer
    }

    &__ingredient {
      margin-right: 14px;
    }

    &__btn-delete-ingredient {
      margin-left: 8px;
      width: 40px;
      cursor: pointer;
    }

    &__btn-add-ingredient {
      font-size: 2.2rem;
      letter-spacing: 1px;

      &:disabled {
        cursor: default;
      }
    }

    &__submit {
      margin-top: 15px;
      padding: 12px 40px;
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }

    &__box {
      margin: 25px 0;
    }
  }
}

@media(min-width: 1280px) {
  .form-dish {
    width: 85%;

    &__box {
      margin: 30px 0;
    }
  }
}

@media(min-width: 1400px) {
  .form-dish {
    margin-top: 60px;
    width: 80%;

    &__title {
      margin-bottom: 40px;
    }

    &__box {
      margin: 35px 0;
    }

    &__box-image {
      height: 400px;
    }

    &__structure-box {
      flex-basis: 40%;
    }
  }
}