.dish {
  padding: 20px;

  &--plan-meals,
  &--set-dishes {
    margin-bottom: 15px;
    background-color: #fffcf4;
    box-shadow: 0 0 2px 0 #dcdad3;
    border-radius: 4px;
  }

  &--plan-meals:nth-of-type(1) {
    margin-top: 15px;
  }


  &--list-dishes,
  &--set-dish {
    border: 2px solid #dedbd3;
    margin-bottom: 25px;
    border-radius: 8px;
  }

  &--set-dishes {
    position: relative;
    counter-increment: li;

    &::before {
      @include counterPseudoElement();
    }
  }

  &--set-dish {
    padding: 10px 20px 15px;
  }

  &__name {
    margin: 0 0 15px;
  }

  &__calories {
    margin: 15px 0 0;
  }

  &__box-edit-delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__edit {
    margin-right: 5px;
    padding: 1px 10px;
    text-transform: uppercase;
  }

  &__delete {
    width: 30px;

    &--set-dishes {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 2rem;
    }
  }

  &__edit,
  &__delete {
    border: 2px solid #f3ead3;
    font-weight: 600;
    background-color: #f9f2df;
    color: $powderBrown;
  }

  &__category {
    margin: 10px 0 15px;
    font-size: 1.4rem;
    text-transform: uppercase;

    &--name {
      font-size: 1.6rem;
      font-weight: 700;
      color: #bfb17a;
    }
  }

  &__add-dish {
    margin: 15px auto 0;
    padding: 6px 0;
    border: 2px solid #f7dc7b;
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fde383;
    color: $darkGray;
    letter-spacing: 1px;

    &:disabled {
      @include disabledButton();
    }
  }
}

.ingredients {
  @include flexWrap();

  &__title {
    margin: 0;
    flex-basis: 100%;
  }
}

.ingredient {
  margin: 12px 6px 0 0;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: #fff0c8;
  border-radius: 4px;

  &__name {
    margin: 0;
  }

  &__add-to-list {
    margin-left: 10px;
    border: 2px solid #c7c6c4;
    @include handleSize(40px, 30px);
    font-weight: 600;
    background-color: #dad7ca;
    color: #42413d;
    border-radius: 4px;

    &:disabled {
      color: #b5b2a5;
    }
  }
}

@media (min-width: 480px) {

  .dish__name,
  .dish__calories,
  .ingredients__title,
  .ingredient__name {
    font-size: 1.8rem;
  }

  .dish {
    &--set-dishes {
      margin-bottom: 20px;
    }

    &__edit,
    &__delete,
    &__category--name {
      font-size: 1.8rem;
    }

    &__category {
      font-size: 1.6rem;
    }

    &__add-dish {
      margin-top: 20px;
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 1024px) {

  .dish__name,
  .dish__calories,
  .ingredients__title,
  .ingredient__name {
    font-size: 2rem;
    cursor: default;
  }

  .ingredient {
    cursor: default;

    &__add-to-list {
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }

    &__btn-icon {
      font-size: 1.8rem;
    }
  }

  .dish {

    &--plan-meals,
    &--set-dish {
      margin-right: 12px;
      flex-basis: 32%;

      &:nth-of-type(1) {
        margin-top: 0;
      }

      &:nth-of-type(3n + 2) {
        margin: 0 6px 15px;
      }

      &:nth-of-type(3n) {
        margin: 0 0 15px 12px;
      }
    }

    &--list-dishes {
      padding: 20px;
      flex-basis: 46%;
    }

    &--set-dishes {
      margin-right: 46px;
      flex-basis: 28%;

      &:nth-of-type(3n + 2) {
        margin: 0 23px 20px;
      }

      &:nth-of-type(3n) {
        margin: 0 0 20px 46px;
      }

      &::before {
        left: -26px;
        font-size: 2.5rem;
      }
    }

    &__edit,
    &__delete,
    &__add-dish {
      font-size: 2rem;
      cursor: pointer;
    }

    &__delete--set-dishes {
      font-size: 2.2rem;
    }

    &__category {
      font-size: 1.8rem;
      cursor: default;

      &--name {
        font-size: 2rem;
      }
    }
  }
}