.section-plan-meals {
  padding: 40px 20px 20px;
}

.info-plan-meals {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__current-day {
    margin: 0;
  }

  &__clear-btn {
    @include mainCreamyButton();
    margin: 15px auto 0;
  }
}

.meals-for-day {
  &__list {
    margin: 0 auto;
    width: 90%;
  }

  &__add-dish {
    @include mainCreamyDashedButton();
  }

  &__calories {
    text-align: center;
    font-weight: 300;

    &--amount {
      font-weight: 600;
    }
  }
}

.meal {
  margin-bottom: 25px;

  &__name {
    margin: 0;
    padding: 6px 18px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    background-color: #fea;
  }
}

@media(min-width:480px) {
  .info-plan-meals {
    margin: 35px 0;

    &__current-day {
      font-size: 1.8rem;
    }

    &__clear-btn {
      margin-top: 20px;
      font-size: 1.8rem;
    }
  }

  .meals-for-day {
    &__add-dish {
      font-size: 1.8rem;
    }

    &__list {
      width: 80%;
    }
  }

  .meal {
    &__name {
      font-size: 2.4rem;
      letter-spacing: 1px;
    }
  }
}

@media(min-width: 1024px) {
  .info-plan-meals {
    margin: 45px 0;

    &__current-day {
      font-size: 2rem;
    }

    &__clear-btn {
      padding: 12px 0;
      width: 25%;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .meals-for-day {
    &__add-dish {
      margin: 0 auto 45px;
      padding: 14px 50px;
      font-size: 2rem;
      cursor: pointer;
    }

    &__calories {
      margin: 35px auto;
      font-size: 2.2rem;
      cursor: default;
    }
  }

  .meal {
    &__name {
      margin-bottom: 25px;
      padding: 10px 0;
      font-size: 2.6rem;
    }

    &__box {
      @include flexWrapStart();
    }
  }
}

@media(min-width: 1440px) {

  .info-plan-meals {
    &__clear-btn {
      width: 18%;
    }
  }

  .meals-for-day__list {
    width: 70%;
  }
}