.section-settings {
  margin: 10px auto 20px;
  padding: 20px 10px;
  width: 90%;
  background-color: #f1f1f1;
  border-radius: 20px;

  &__info {
    margin: 0;
    text-align: center;
    font-weight: 400;
  }

  &__save-btn {
    @include mainYellowButton();
    margin: 40px auto 0;
    padding: 6px 0;
    width: 70%;
    display: block;
    letter-spacing: 1px;
    border-radius: 4px;

    &:disabled {
      @include disabledButton();
    }
  }

  &--warning {
    margin: 25px auto;
  }
}

.setting-option {
  margin-top: 25px;

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.option-items {
  margin-top: 20px;
  @include flexWrap();
  justify-content: space-around;
}

.option-item {
  margin: 4px 0;
  display: flex;
  align-items: center;
  flex-basis: 44%;

  &__checkbox {
    @include handleSize(24px, 24px);
  }

  &__name {
    margin-left: 14px;
    font-size: 1.4rem;
  }
}

@media (min-width: 360px) {
  .section-settings {
    margin: 0 auto;
    padding: 20px 18px;

    &--warning {
      margin: 25px auto;
    }
  }

  .setting-option__title,
  .option-item__name {
    font-size: 1.6rem;
  }
}

@media (min-width: 480px) {
  .section-settings {
    padding: 20px;
    width: 85%;

    &__info {
      font-size: 1.8rem;
    }
  }

  .setting-option {
    margin-top: 35px;

    &__title {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 1024px) {
  .section-settings {
    padding: 35px 40px;
    width: 80%;

    &__info {
      font-size: 2.4rem;
      cursor: default;


      &--warning {
        font-size: 2rem;
      }
    }

    &__save-btn {
      margin-top: 50px;
      padding: 10px 0;
      width: 40%;
      font-size: 2.2rem;
      letter-spacing: 2px;
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }

    &--warning {
      margin: 45px auto 30px;
    }
  }

  .setting-option {
    margin-top: 50px;

    &__title {
      font-size: 2.2rem;
    }
  }

  .option-items {
    margin-top: 25px;
  }

  .option-item {
    margin: 8px 0;
    flex-basis: 45%;

    &__checkbox {
      @include handleSize(28px, 28px);
      cursor: pointer;
    }

    &__name {
      margin-left: 25px;
      font-size: 2.4rem;
      cursor: pointer;
    }
  }
}

@media (min-width: 1366px) {
  .section-settings {
    width: 75%;

    &__info {
      &--warning {
        margin-bottom: 60px;
        font-size: 2.2rem;
      }
    }
  }
}

@media (min-width: 1900px) {
  .section-settings {
    width: 70%;

    &__save-btn {
      margin-top: 65px;
      width: 35%;
    }
  }
}