.section-set-dishes {
  padding: 15px 20px 20px;

  &__image {
    margin: 25px auto;
    background-image: url("../images/set-dishes.jpg");
    background-position-y: 37%;
    background-size: cover;
    height: 185px;
    width: 95%;
  }
}

.already-set-dishes {
  &__add-dish {
    display: block;
    margin: 0 auto 35px;
    text-transform: uppercase;
    background-color: #f9f2df;
    border: 2px dashed #b3aa8a;
    padding: 10px 18px;
    font-weight: 700;
    color: #847652;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: #fea;
    padding: 10px 20px;
  }

  &__dishes {
    list-style: none;
    width: 90%;
    margin: 15px auto 0;
    padding: 0;
    counter-reset: li;
  }
}

@media(min-width:480px) {

  .section-set-dishes {
    &__image {
      width: 70%;
    }
  }

  .already-set-dishes {
    &__dishes {
      margin-top: 25px;
      width: 75%;
    }

    &__add-dish {
      font-size: 1.8rem;
    }

    &__title {
      font-size: 2.2rem;
    }
  }
}

@media(min-width: 1024px) {

  .section-set-dishes {
    &__image {
      height: 280px;
      width: 60%;
      background-position-y: 54%;
      margin: 30px auto 40px;
    }
  }

  .already-set-dishes {
    &__add-dish {
      font-size: 2.2rem;
      padding: 12px 22px;
      margin: 0 auto 45px;
      cursor: pointer;
    }

    &__title {
      width: 80%;
      font-size: 2.4rem;
      letter-spacing: 1px;
      padding: 12px 0;
    }

    &__dishes {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 35px;
    }
  }
}

@media(min-width:1440px) {

  .section-set-dishes {
    &__image {
      width: 52%;
    }
  }

  .already-set-dishes {
    &__dishes {
      width: 70%;
    }

    &__title {
      width: 75%;
    }
  }

}

@media(min-width:1900px) {

  .section-set-dishes {
    &__image {
      width: 44%;
    }
  }

  .already-set-dishes {
    &__dishes {
      width: 60%;
    }

    &__title {
      width: 65%;
    }
  }

}