.section-set-dish {
  padding: 15px 20px 20px;

  &__image {
    background-image: url("../images/set-dish.jpg");
    background-position-y: 55%;
    background-size: cover;
    height: 186px;
    margin: 25px auto;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    background-color: #fde383;
    padding: 10px 0;
    margin: 25px auto;
  }

  &__btn-search {
    display: block;
    margin: 15px auto 0;
    border: 2px solid #e0dac9;
    background-color: #f9f2df;
    text-transform: uppercase;
    padding: 10px 0;
    width: 100%;
    font-weight: 600;
    color: #4c4c4c;
  }

  &__all-dishes {
    margin: 25px auto 0;
    width: 95%;
  }
}

.section-search-dish {
  &__form {
    margin: 30px auto 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__label {
    flex-basis: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  &__input {
    padding-left: 10px;
    width: 70%;
    height: 32px;
    border: 1px solid #5d5b5b;
  }

  &__btn-search {
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 600;
    background-color: #ffd324;
    border: 2px solid #f1d463;
    color: #615423;
  }
}

@media(min-width: 480px) {
  .section-set-dish {
    &__image {
      height: 230px;
      width: 90%;
    }

    &__btn-search {
      width: 80%;
    }

    &__all-dishes {
      width: 80%;
    }

    &__title {
      font-size: 2rem;
    }
  }

  .section-search-dish {

    &__dishes {
      margin: 0 auto;
      width: 90%;
    }

    &__form {
      width: 80%;
    }

    &__label {
      font-size: 1.6rem;
    }

    &__btn-search {
      width: 25%;
    }
  }
}

@media(min-width: 1024px) {
  .section-set-dish {
    &__image {
      height: 180px;
      width: 80%;
    }

    &__title {
      width: 80%;
      font-size: 2.4rem;
      letter-spacing: 1px;
    }

    &__box-btn-search {
      margin: 40px auto 50px;
      display: flex;
      justify-content: space-between;
      width: 60%;
    }

    &__btn-search {
      margin: 0;
      flex-basis: 48%;
      font-size: 1.8rem;
      cursor: pointer;
    }

    &__all-dishes {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .section-search-dish {

    &__form {
      margin: 40px auto 45px;
      width: 45%;
    }

    &__label {
      font-size: 2rem;
    }

    &__input {
      height: 45px;
      font-size: 1.8rem;
    }

    &__btn-search {
      font-size: 2rem;
      letter-spacing: 1px;
      cursor: pointer;
    }

    &__dishes {
      margin: 0 auto;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

@media(min-width: 1440px) {
  .section-set-dish {

    &__title {
      width: 70%;
      font-size: 2.6rem;
    }

    &__btn-search {
      font-size: 2.2rem;
    }

    &__all-dishes {
      width: 70%;
    }
  }

  .section-search-dish {
    &__dishes {
      width: 70%;
    }
  }
}