.section-set-dish {
  padding: 15px 20px 20px;

  &__image {
    margin: 25px auto;
    background-image: url("../images/set-dish.jpg");
    background-position-y: 55%;
    background-size: cover;
    height: 186px;

  }

  &__title {
    margin: 25px auto;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    background-color: #fde383;
  }

  &__btn-search {
    margin: 15px auto 0;
    padding: 10px 0;
    border: 2px solid #e0dac9;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #f9f2df;
    color: $darkGray;
  }

  &__all-dishes {
    margin: 25px auto 0;
    width: 95%;
  }
}

.section-search-dish {
  &__form {
    margin: 30px auto 35px;
    @include flexWrap();
    justify-content: space-between;
  }

  &__label {
    margin-bottom: 10px;
    flex-basis: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__input {
    padding-left: 10px;
    border: 1px solid $darkGray;
    @include handleSize(70%, 32px);
  }

  &__btn-search {
    @include mainYellowButton();
    border-radius: 0;
  }
}

@media(min-width: 480px) {
  .section-set-dish {
    &__image {
      @include handleSize(90%, 230px);
    }

    &__btn-search,
    &__all-dishes {
      width: 80%;
    }

    &__title {
      font-size: 2rem;
    }
  }

  .section-search-dish {
    &__dishes {
      margin: 0 auto;
      width: 90%;
    }

    &__form {
      width: 80%;
    }

    &__label {
      font-size: 1.6rem;
    }

    &__btn-search {
      width: 25%;
    }
  }
}

@media(min-width: 1024px) {
  .section-set-dish {
    &__image {
      @include handleSize(80%, 180px);
    }

    &__title {
      width: 80%;
      font-size: 2.4rem;
      letter-spacing: 1px;
    }

    &__box-btn-search {
      margin: 40px auto 50px;
      display: flex;
      justify-content: space-between;
      width: 60%;
    }

    &__btn-search {
      margin: 0;
      flex-basis: 48%;
      font-size: 1.8rem;
      cursor: pointer;
    }

    &__all-dishes {
      @include flexWrapStart();
    }
  }

  .section-search-dish {
    &__form {
      margin: 40px auto 45px;
      width: 45%;
    }

    &__label {
      font-size: 2rem;
    }

    &__input {
      height: 45px;
      font-size: 1.8rem;
    }

    &__btn-search {
      font-size: 2rem;
      letter-spacing: 1px;
      cursor: pointer;
    }

    &__dishes {
      margin: 0 auto;
      @include flexWrapStart();
      width: 90%;
    }
  }
}

@media(min-width: 1440px) {

  .section-set-dish {
    &__title {
      width: 70%;
      font-size: 2.6rem;
    }

    &__btn-search {
      font-size: 2.2rem;
    }

    &__all-dishes {
      width: 70%;
    }
  }

  .section-search-dish {
    &__dishes {
      width: 70%;
    }
  }
}