.section-set-dishes {
  padding: 15px 20px 20px;

  &__image {
    margin: 25px auto;
    background-image: url("../images/set-dishes.jpg");
    background-position-y: 37%;
    background-size: cover;
    @include handleSize(95%, 185px);
  }
}

.already-set-dishes {
  &__add-dish {
    @include mainCreamyDashedButton();
  }

  &__title {
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #fea;
  }

  &__dishes {
    margin: 15px auto 0;
    padding: 0;
    list-style: none;
    width: 90%;
    counter-reset: li;
  }
}

@media(min-width:480px) {

  .section-set-dishes {
    &__image {
      width: 70%;
    }
  }

  .already-set-dishes {
    &__dishes {
      margin-top: 25px;
      width: 75%;
    }

    &__add-dish {
      font-size: 1.8rem;
    }

    &__title {
      font-size: 2.2rem;
    }
  }
}

@media(min-width: 1024px) {

  .section-set-dishes {
    &__image {
      margin: 30px auto 40px;
      @include handleSize(60%, 280px);
      background-position-y: 54%;
    }
  }

  .already-set-dishes {
    &__add-dish {
      margin: 0 auto 45px;
      padding: 12px 22px;
      font-size: 2.2rem;
      cursor: pointer;
    }

    &__title {
      padding: 12px 0;
      width: 80%;
      font-size: 2.4rem;
      letter-spacing: 1px;
    }

    &__dishes {
      margin-top: 35px;
      @include flexWrap();
      justify-content: flex-start;
    }
  }
}

@media(min-width:1440px) {

  .section-set-dishes {
    &__image {
      width: 52%;
    }
  }

  .already-set-dishes {
    &__dishes {
      width: 70%;
    }

    &__title {
      width: 75%;
    }
  }

}

@media(min-width:1900px) {

  .section-set-dishes {
    &__image {
      width: 44%;
    }
  }

  .already-set-dishes {
    &__dishes {
      width: 60%;
    }

    &__title {
      width: 65%;
    }
  }
}