.section-shopping-list {
  padding: 20px;
}

.add-product {
  margin: 0 auto 45px;
  width: 95%;

  &__box {
    margin: 5px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-of-type(2) {
      margin-bottom: 25px;
    }
  }

  &__label {
    margin-bottom: 10px;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__input {
    padding: 10px;
    border: 2px solid #cecdcb;
    @include handleSize(100%, 40px);
    border-radius: 4px;
  }

  &__submit {
    @include mainYellowButton();
    @include handleSize(100%, 35px);
    display: block;
    letter-spacing: 1px;
    border-radius: 4px;

    &:disabled {
      @include disabledButton();
    }
  }
}

.products-list {
  margin-top: 40px;

  &__title {
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    background-color: #f3e9ddc7;
  }

  &__products {
    margin: 30px 20px 0;
    padding: 0;
    list-style: none;
    counter-reset: li;
  }
}

.product {
  margin-bottom: 15px;
  padding: 4px 4px 15px 0;
  border: 1px solid #e6e5e2;
  position: relative;
  background-color: #f3e9ddc7;
  word-break: break-word;
  counter-increment: li;


  &::before {
    @include counterPseudoElement();
  }

  &__box-btn {
    display: flex;
    justify-content: flex-end;
  }

  &__delete,
  &__edit {
    border: 1px solid #cecdcb;
    @include handleSize(16%, 28px);
    font-weight: 600;
    background-color: #fff;
    color: #828282;
    border-radius: 4px;
  }

  &__edit {
    margin-left: 2px;
    position: relative;
    z-index: 1;
  }

  &__edit-icon {
    position: relative;
    z-index: -1;
  }

  &__box-info {
    margin: 10px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  &__name,
  &__count {
    margin: 0;
    color: #313131;
  }

  &__name {
    flex-basis: 80%;
  }

  &__product {
    flex-basis: 15%;
  }
}

@media (min-width: 360px) {
  .add-product {
    width: 90%;

    &__label {
      font-size: 1.6rem;
    }

    &__submit {
      font-size: 1.8rem;
    }
  }

  .products-list {
    &__products {
      margin: 30px auto 0;
      width: 80%;
    }
  }
}

@media (min-width: 480px) {
  .add-product {
    width: 75%;
  }

  .products-list {
    &__products {
      width: 70%;
    }
  }
}

@media (min-width: 1024px) {
  .add-product {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

    &__box {
      margin-bottom: 0;
      flex-basis: 40%;

      &:nth-of-type(2) {
        margin-bottom: 0;
      }
    }

    &__label {
      font-size: 1.8rem;
    }

    &__submit {
      height: 46px;
      flex-basis: 10%;
      font-size: 2.2rem;
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }

    &__input {
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  .products-list {
    &__title {
      margin: 0 auto;
      width: 50%;
    }

    &__products {
      @include flexWrapStart();
      justify-content: space-between;
      width: 65%;
    }
  }

  .product {
    margin-bottom: 20px;
    padding: 6px 6px 20px 0;
    flex-basis: 46%;

    &__box-info {
      margin-top: 20px;
      font-size: 2rem;
    }

    &::before {
      left: -30px;
      font-size: 2.5rem;
    }

    &__delete,
    &__edit {
      height: 36px;
      font-size: 2.2rem;
      cursor: pointer;
    }
  }
}

@media (min-width: 1400px) {
  .products-list {
    &__products {
      width: 52%;
    }

    &__title {
      width: 45%;
    }
  }

  .add-product {
    width: 60%;
  }
}

@media (min-width: 1650px) {
  .add-product {
    width: 55%;
  }
}